body {
  font-family: "kepler-std", Georgia, Times, serif;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  background-color: #FFF;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "acta-display";
  color: #333;
  font-weight: 300;
}

h1, h2 {
  font-weight: 400;
}

h2 {
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: "kepler-std";
}

hr {
  border: 1px solid #eee;
}

blockquote {
  background: #F9F9F9;
  padding: 8px 30px;
}

a {
  vertical-align: baseline;
  font-size: 100%;
}

.main .sidebar {
  position: fixed;
  left: 0px;
  width: 250px;
  height: 100%;
  display: block;
  background: #6fb4ce;
  margin: 0px;
  color: #fff;
  padding: 0px;
  font-family: "kepler-std";
}

.main .sidebar h1 {
  font-weight: 400;
  color: #fff;
  font-family: "kepler-std";
  font-size: 33px;
  text-align: left;
  padding-left: 40px;
  text-transform: lowercase;
  padding-bottom: 18px;
  border-bottom: 1px solid #7ac3de;
}

.main .sidebar ul, .sidebar li {
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.main .sidebar li {
  margin-bottom: 20px;
}

.main .sidebar li a {
  color: #fff;
  font-size: 22px;
  font-weight: 200;
  text-decoration: none;
}

.main .sidebar li.category {
  atext-align: center;
  padding-left: 40px;
}

.main .sidebar li.category a {
  width: inherit;
}

.main .sidebar li a:hover {
  text-decoration: underline;
}

.main .container {
  width: 90%;
  max-width: 960px;
  margin-left: 310px;
}

.main .wrapper {
  margin: 0 auto;
  position: relative;
  
  width: 80%;
}

.main section.top {
  text-align: center;
  margin: 0px auto;
  padding: 20px 0;
  font-size: 21px;
}

.main section.top a {
  color: #333;
  text-decoration: underline;
}

.main header {
  text-align: center;
  margin-top: 30px;
}

.main header .title {
  text-align: center;
  font-size: 40px;
  line-height: 1.45em;
  letter-spacing: -1px;
  font-weight: 400;
}

.main header .title a {
  color: #477B96;
  text-decoration: none;
  padding-bottom: 0px;

  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.main header .title a:hover {
  color: #477B96;
  text-decoration: underline;
}

.main section.content {
  margin: 2.25em auto 2em;
}

.main section.content p {
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: 300;
  color: #444;
  font-family: "kepler-std";
}

/**
 * Code
 */

pre code.hljs {
  border-top: 4px solid #7e9dc2;
  color: #333;
  background: #f9f9f9;
  afont-size: 17px;
  font-family: Consolas, Lucida Console, Consolas, monospace;
}

code span.hljs-string {
  color: #d43c3c;
}

code span.hljs-keyword {
  color: #3c47d4;
  font-weight: normal;
}


/**
 * Hero
 */

.hero .container {
  width: 560px;
  margin: 40px auto;
  margin-top: 15%;
}

.hero h1 {
  text-align: center;
  color: #333;
  font-size: 50px;
  font-weight: 400;
}

.hero h3 {
  text-align: center;
  color: #000;
  font-weight: 400;
  font-size: 25px;
}

.hero .buttons {
  width: 60%;
  margin: 0 auto;
}

.hero button.btn {
  background: #000;
  color: #fff;
  font-size: 19px;
  padding: 15px 30px;
  border: none;
  outline: none;
  border: 4px solid transparent;
  cursor: pointer;
}

.hero button.intro {
  background-color: #2fcc84;
}

.hero button.intro:hover {
  border-color: #fff;
}

.hero .wbutton {
  text-decoration: none;
}

.hero button.docs {
  background-color: #444;
}

.hero button.docs:hover {
  background-color: #fff;
  color: #333;
}

.hero .snippet {
  text-align: center;
}

.hero .snippet pre code {
  background: #444;
  color: #fff;
  border-radius: 9px;
  width: 400px;
  margin: 0 auto;
  border: none;
  background: rgba(68, 68, 68, 0.5);
}

.hero {
  background: url(/public/img/bg.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}