html
  head
    title=title
    link(rel="stylesheet", href="http://yandex.st/highlightjs/8.0/styles/default.min.css")
    link(rel="stylesheet", href="/public/index.css")
    script(type="text/javascript", src="//use.typekit.net/phm0nvf.js")
    script.
      try{Typekit.load();}catch(e){}
    script(src="http://yandex.st/highlightjs/8.0/highlight.min.js")
    script.
      hljs.initHighlightingOnLoad();
  body
    .sidebar
      h1 Docs
      ul
        li.category
          a(href="/") Overview
        li.category
          a(href="/") Getting Started
    .container
      .wrapper
        section.top
          a(href="https://github.com/viewjs/view") Github
        header
          h1.title
            a(href="") View.js
        section.content
          div!=contents