<html>
<head>
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css" />
  <link rel="stylesheet" href="/public/css/font-awesome.min.css" />
  <script type="text/javascript" src="//use.typekit.net/phm0nvf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" type="text/css" href="/public/index.css">
  <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body class="{{page.bodyClass}}">
  {{ content }}
</body>
</html>